
#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 1rem;
  width: 80%;
  height: 15%;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  margin-left: 50px;
}
